<div class="container my-5 px-5">
  <h1 class="mb-3 review-header">👈 <%= place.name %></h1>
  <h2><%= pluralize place.reviews.size, "review" %></h2>
  

  <div id="reviews">
    <% if place.reviews.blank? %>
      Be the first to leave a review for <%= place.name %>
    <% else %>
      <% place.reviews.each do |review| %>
      <div class="user-info d-flex align-items-center" id="review-<%= review.id %>">
        <% if review.user.profile_photo.attached? %>
        <%= cl_image_tag review.user.profile_photo.key, class: "avatar mr-2" %>
        <% else %>
        <%= image_tag "squid.png", class: "avatar mr-2" %>
        <% end %>
        <p class="my-0"><strong><%= review.user.username %></strong></p>
      </div>
      <p class="mt-0"><%= review.content %></p>
      <% end %>
    <% end %>
  </div>

</div>

  <div class="container my-5" id="new-review">
    <h2>Write a review:</h2>
    <%= simple_form_for([place, Review.new], remote: true, html: { id: :new_review }) do |f| %>
      <%= f.input :content, hint: '15 characters minimum' %>
      <%= f.submit "Submit review", class: "btn btn-primary" %>
    <% end %>
  </div>


<%# <%= link_to "Write a review" anchor: "new_review" class: "btn btn-success" %>

<!-- <div class="container my-5">
  <a href="#" class="btn btn-primary d-block" style="width: 35%; margin: 0px auto;">write a review + modal will pop up</a>
</div> -->