
<div class="container my-5 px-5">
<h1 class="mb-3 review-header">👈 <%= @place.name %> reviews</h1>
<% @place.reviews.each do |review| %>
<div class="user-info d-flex align-items-center">
  <% if review.user.profile_photo.attached? %>
  <%= cl_image_tag review.user.profile_photo.key, class: "avatar mr-2" %>
  <% else %>
  <%= image_tag "squid.png", class: "avatar mr-2" %>
  <% end %>
  <p class="my-0"><strong><%= review.user.username %></strong></p>
</div>
<p class="mt-0"><%= review.content %></p>
  <% end %>
</div>


<div class="container my-5">
  <a href="#" class="btn btn-primary d-block" style="width: 35%; margin: 0px auto;">write a review + modal will pop up</a>
</div>

<!-- <div class="container my-5">
  <%= render "reviews/new", place: @place %>
</div> -->


