<div class="row">
  <div class="col-4 p-0" style="overflow-y: scroll; height: 100vh;">
    <div class="sidebar">
      <div class="heading">
        <h1 class="text-center">Playa del Carmen</h1>
      </div>
      <div id="listings" class="listings">
        <% @places.each do |place| %>
          <!-- this is to find out what the majority of users say regarding food, wifi, and charging ports -->
          <% wifi_boolean_array = [] %>
          <% cp_boolean_array = [] %>
          <% food_boolean_array = [] %>
          <% place.reviews.each do |review| %>
            <% wifi_boolean_array << review.wifi %>
            <% cp_boolean_array << review.charging_ports %>
            <% food_boolean_array << review.food %>
          <% end %>
          <% wifi_boolean = wifi_boolean_array.count(true) > wifi_boolean_array.count(false) %>
          <% cp_boolean = cp_boolean_array.count(true) > cp_boolean_array.count(false) %>
          <% food_boolean = food_boolean_array.count(true) > food_boolean_array.count(false) %>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><a href="#" id="link-<%= place.id%>" class="header-name"><%= place.name %></a></h5>
              <p class="card-text" style="min-height: 50px;"><%= place.address %></p>
              <div>
                
                
                <div class="d-flex">
                  <a class="btn btn-primary btn-lg w-50 mb-1 collapse-text" data-toggle="collapse" href="#collapseExample-<%= place.id %>" role="button" aria-expanded="false" aria-controls="collapseExample-<%= place.id %>">See more</a>
                  <div class="icons" style="display: flex; position: relative; top: 8px; left: 50px;">
                    
                      <%= link_to unlike_place_path(place), method: :put, remote: true do %>
                        <% if current_user.disliked? place %>
                          <i class="fas fa-arrow-alt-circle-down vote-btn downvote-btn disabled-btn" id="downvote-btn-<%= place.id %>"></i>
                        <% else %>
                          <i class="fas fa-arrow-alt-circle-down vote-btn downvote-btn" id="downvote-btn-<%= place.id %>"></i>
                        <% end %>
                      <% end %>
                    
                    <div class="counter" style="min-width: 33px;">
                      <p id="vote-total-<%= place.id %>" class="text-center vote-total" style="position: relative; top: 1px"><%= place.weighted_score %></p>
                    </div>
                    <div class="">
                      <%= link_to like_place_path(place), method: :put, remote: true do %>
                        <% if current_user.liked? place %>
                          <i class="fas fa-arrow-alt-circle-up vote-btn upvote-btn disabled-btn" id="upvote-btn-<%= place.id %>"></i>
                        <% else %>
                          <i class="fas fa-arrow-alt-circle-up vote-btn upvote-btn" id="upvote-btn-<%= place.id %>"></i>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
                
                <div class="collapse m-1" id="collapseExample-<%= place.id %>">
                  <div class="card card-body border-0 pl-0 pb-0">

                    <% opener_array = ["What users are saying about", "The most recent reviews regarding", "Reviews for"] %>
                    
                    <% if place.reviews.first %>
                    <p class="font-italic" style="color: darkturquoise; font-size: 1.4rem;"><%= opener_array.sample %> <%= place.name %>...</p>
                    <p class="truncate-me">
                      <%= place.reviews.first.content %>
                    </p>
                    <p class="find-out-more">more</p>
                    
                    <% end %>
                    <% if place.reviews.second %>
                    <p class="truncate-me">
                      <%= place.reviews.second.content %>
                    </p>
                    <p class="find-out-more">more</p>
                    <% end %>

                    <p class="info-labels-title font-italic" style="color: darkturquoise;"> <span>Based on a majority of users, <%= place.name %> has the following...</span></p>
                    <div class="info-labels d-flex justify-content-between">
                      <% if food_boolean %>
                        <div class="d-flex">
                          <p>Food</p>
                          <p class="pl-2">✅</p>
                        </div>
                      <% else %>
                        <div class="d-flex">
                          <p>Food</p>
                          <p class="pl-2">❌</p>
                        </div>
                      <% end %>
  
                      <% if wifi_boolean %>
                        <div class="d-flex">
                          <p>Wifi</p>
                          <p class="pl-2">✅</p>
                        </div>
                      <% else %>
                        <div class="d-flex">
                          <p>Wifi</p>
                          <p class="pl-2">❌</p>
                        </div>
                      <% end %>
  
                      <% if cp_boolean %>
                        <div class="d-flex">
                          <p>Charging Ports</p>
                          <p class="pl-2">✅</p>
                        </div>
                      <% else %>
                        <div class="d-flex">
                          <p>Charging Ports</p>
                          <p class="pl-2">❌</p>
                        </div>
                      <% end %>
                    </div>
                    <form action="/places" class="see-more-reviews">
                      <input name="selected_place" class="place-reviews" type="hidden" value="<%= place.id %>">
                      <button class="btn btn-primary open-reviews btn-block" type="submit">Explore more reviews...</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-8 p-0">
    
    <div class="hide-content reviews-content" id="reviews-content">
      <!-- <%= render "review" %> -->
      <% if params[:selected_place] %>
        <%= render "show", remote: true %>
      <% else %>
        <p>Select a place</p>
      <% end %>
    </div>
    <div id="map" class="map" style="width: 100%; height: 100vh;" data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>