<div class="row">
  <div class="col-4">
    <div class="sidebar">
      <div class="heading">
        <h1>Playa del Carmen</h1>
      </div>
      <div id="listings" class="listings">
        <% @places.each do |place| %>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><a href="#" id="link-<%= place.id%>"><%= place.name %></a></h5>
              <p class="card-text"><%= place.address %></p>
              <div>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <%id = place.id %>
                <% if current_user%>
                
                <% else %>
                
                <% end %>
                <button class="btn-vote" id="vote-down-#{id}" style="border: none; background: none;">
                  <%= image_tag('down', class: 'vote-arrow') %>
                </button>
                <p id="vote-total-#{id}" style="display: inline;"><%= place.weighted_score %></p> 
                <button class="btn-vote" id="vote-up-#{id}" style="border: none; background: none;">
                  <%= image_tag('up', class: 'vote-arrow') %>
                </button>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-8">
    <div id="map" class="map" style="width: 100%; height: 600px;" data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>