<div class="row">
  <div class="col-4 p-0" style="overflow-y: scroll; height: 100vh;">
    <div class="sidebar">
      <div class="heading">
        <h1 class="text-center">Playa del Carmen</h1>
      </div>
      <div id="listings" class="listings">
        <% @places.each do |place| %>
          <!-- this is to find out what the majority of users say regarding food, wifi, and charging ports -->
          <% wifi_boolean_array = [] %>
          <% cp_boolean_array = [] %>
          <% food_boolean_array = [] %>
          <% place.reviews.each do |review| %>
            <% wifi_boolean_array << review.wifi %>
            <% cp_boolean_array << review.charging_ports %>
            <% food_boolean_array << review.food %>
          <% end %>
          <% wifi_boolean = wifi_boolean_array.count(true) > wifi_boolean_array.count(false) %>
          <% cp_boolean = cp_boolean_array.count(true) > cp_boolean_array.count(false) %>
          <% food_boolean = food_boolean_array.count(true) > food_boolean_array.count(false) %>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><a href="#" id="link-<%= place.id%>" class="header-name"><%= place.name %></a></h5>
              <p class="card-text" style="min-height: 50px;"><%= place.address %></p>
              <div>
                
                <a class="btn btn-primary mb-1" data-toggle="collapse" href="#collapseExample-<%= place.id %>" role="button" aria-expanded="false" aria-controls="collapseExample-<%= place.id %>">
                  Find out more
                </a>
                <%id = place.id %>
                <% if current_user%>
                
                <% else %>
                
                <% end %>
                <div class="d-flex" style="position: absolute; top: 125px; left: 332px">
                  <div class="">
                    <%= link_to unlike_place_path(place), method: :put, remote: true do %>
                      <%= image_tag('down', class: 'vote-arrow') %>
                    <% end %>
                  </div>
                  <div class="counter" style="min-width: 33px;">
                    <p id="vote-total-<%= place.id %>" class="text-center" style="position: relative; top: 1px"><%= place.weighted_score %></p>
                  </div>
                  <div class="">
                    <%= link_to like_place_path(place), method: :put, remote: true do %>
                      <%= image_tag('up', class: 'vote-arrow') %>
                    <% end %>
                  </div>
                </div>
                
                <div class="collapse text-monospace" id="collapseExample-<%= place.id %>">
                  <div class="card card-body border-0 pl-0">

                    <% opener_array = ["What users are saying about", "The most recent reviews regarding", "Reviews for"] %>
                    
                    <% if place.reviews.first %>
                    <p class="font-italic" style="color: purple;"><%= opener_array.sample %> <%= place.name %>...</p>
                    <p class="truncate-me">
                      <%= place.reviews.first.content %>
                    </p>
                    <% end %>
                    <% if place.reviews.second %>
                    <p class="truncate-me">
                      <%= place.reviews.second.content %>
                    </p>
                    <% end %>

                    <p class="info-labels-title font-italic" style="color: purple;">Based on a majority...</p>
                    <div class="info-labels">
                      <% if food_boolean %>
                        <div class="d-flex">
                          <p class="more-info">Food</p>
                          <p>✅</p>
                        </div>
                      <% else %>
                        <div class="d-flex">
                          <p class="more-info">Food</p>
                          <p>❌</p>
                        </div>
                      <% end %>
  
                      <% if wifi_boolean %>
                        <div class="d-flex">
                          <p class="more-info">Wifi</p>
                          <p>✅</p>
                        </div>
                      <% else %>
                        <div class="d-flex">
                          <p class="more-info">Wifi</p>
                          <p>❌</p>
                        </div>
                      <% end %>
  
                      <% if cp_boolean %>
                        <div class="d-flex">
                          <p class="more-info">Charging Ports</p>
                          <p>✅</p>
                        </div>
                      <% else %>
                        <div class="d-flex">
                          <p class="more-info">Charging Ports</p>
                          <p>❌</p>
                        </div>
                      <% end %>
                    </div>
                    <button class="btn btn-primary">Explore more reviews...</button>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-8 p-0">
    <div id="map" class="map" style="width: 100%; height: 100vh;" data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>