<div class="row">
  <div class="col-4" style="overflow-y: scroll; height: 88vh;">
    <div class="sidebar">
      <div class="heading">
        <h1>Playa del Carmen</h1>
      </div>
      <div id="listings" class="listings">
        <% @places.each do |place| %>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><a href="#" id="link-<%= place.id%>"><%= place.name %></a></h5>
              <p class="card-text"><%= place.address %></p>
              <div>
                
                <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample-<%= place.id %>" role="button" aria-expanded="false" aria-controls="collapseExample-<%= place.id %>">
                  Find out more
                </a>
                <%id = place.id %>
                <% if current_user%>
                
                <% else %>
                
                <% end %>
                <div class="d-flex pl-4" style="position: absolute; top: 100px; left: 150px">
                  <div class="">
                    <%= link_to unlike_place_path(place), method: :put, remote: true do %>
                      <%= image_tag('down', class: 'vote-arrow') %>
                    <% end %>
                  </div>
                  <div style="min-width: 33px;">
                    <p id="vote-total-<%= place.id %>" class="text-center" style="position: relative; top: 1px"><%= place.weighted_score %></p> 
                  </div>
                  <div class="">
                    <%= link_to like_place_path(place), method: :put, remote: true do %>
                      <%= image_tag('up', class: 'vote-arrow') %>
                    <% end %>
                  </div>
                </div>
                  
                <div class="collapse" id="collapseExample-<%= place.id %>">
                  <div class="card card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-8">
    <div id="map" class="map" style="width: 100%; height: 512px;" data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>